/* src/components/Cart.css */
.cart {
    padding: 20px;
  }
  
  .cart h2 {
    margin-bottom: 20px;
  }
  
  .cart ul {
    list-style: none;
    padding: 0;
  }
  
  .cart li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .cart-item-image {
    max-width: 50px;
    margin-right: 20px;
  }
  
  .cart-item-details {
    flex-grow: 1;
  }
  