/* src/App.css */
.App {
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  max-width: 200px;
  text-align: left;
}

.product-card img {
  max-width: 100%;
  height: auto;
}

/* src/components/Dashboard.css */
.quantity-control {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.quantity-control input {
  width: 60px;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

